@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&family=League+Spartan:wght@500;700&family=Overpass:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.calculator {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  z-index: 1;
}
.calculator header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.calculator form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculator .form-group {
  position: relative;
}
.calculator label {
  font-size: 22px;
  margin: 10px;
}
.calculator input {
  width: 95%;
  height: 50px;
  font-size: 22px;
  padding: 0 10px;
  margin: 10px 7px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: #000;
}
.calculator button {
  width: 60%;
  height: 50px;
  font-size: 22px;
  padding: 0 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.position {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
}
.position header {
  border: 2px solid red;
  background-color: red;
  width: 100%;
  position: relative;
  padding: 10px 20px;
}
.position header .desktopNav {
  display: none;
}
.position header .hamburger {
  width: 30px;
  border: 2px solid red;
}
.position header .mobileNav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
.position header .mobileNav .mainBurger {
  max-width: 10%;
}
.position header .mobileNav h1 {
  width: 90%;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.position header .mobileNav h1 a {
  text-decoration: none;
  color: #fff;
}
.position header .mobileNav .display {
  display: flex;
}
.position header .mobileNav div {
  border: 2px solid red;
  background-color: black;
  width: 100%;
  height: 50vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 10px;
  position: absolute;
  top: 0;
}
.position header .mobileNav div .hamburger {
  background-color: red;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
}
.position header .mobileNav div a {
  color: white;
  font-size: 1.2rem;
  margin: 5px 0;
  text-decoration: none;
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  width: 70%;
  text-align: center;
}
.position aside {
  margin: 30px 0 10px;
}
.position aside h3 {
  font-size: 30px;
}
.position aside h3 span {
  color: black;
  font-weight: bolder;
  font-size: 35px;
}
.position aside h2 {
  font-size: 40px;
  padding: 5px 10px;
  background-color: black;
  margin: 20px 0;
}

section {
  padding: 10px;
}
section aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px 0;
}
section aside h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 20px 0;
}
section aside h2 {
  font-weight: 800;
  width: 100%;
  border: 2px solid hsl(0deg, 100%, 50%);
  margin: 10px 0 20px;
  padding: 10px;
}
section aside h4,
section aside h5 {
  width: 100%;
  margin: 0 0 10px;
}
section aside h5 {
  font-size: 1.3rem;
  color: red;
}
section aside p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 20px 0;
}
section aside b {
  font-weight: 700;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer h2 {
  width: 100%;
}
footer div {
  width: 100%;
  padding: 10px;
}
footer img {
  width: 35px;
  padding: 5px;
  background-color: white;
  margin: 0 10px;
}
footer .back {
  width: 100%;
  margin: 10px 0 0;
  position: relative;
}
footer .tooltip {
  position: absolute;
  font-size: 12px;
  margin: 5px 0 0 5px;
  background-color: white;
  color: black;
  padding: 1px 5px;
  visibility: hidden;
}
footer .tooltip::before {
  content: "";
  position: absolute;
  top: 80%;
  left: -24%;
  margin-top: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
footer img:hover + .tooltip {
  visibility: visible;
}

#bouncer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 5px solid red;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: bounce 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: bounce 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.up {
  border-radius: 50px;
  padding: 10px;
  width: 30px;
}

@media screen and (min-width: 1000px) {
  .position header {
    padding: 20px 50px;
  }
  .position header .mobileNav {
    display: none;
  }
  .position header .desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  .position header .desktopNav h1 {
    font-size: 30px;
    font-family: "Gemunu Libre", sans-serif;
  }
  .position header .desktopNav h1 a {
    text-decoration: none;
    color: #fff;
  }
  .position header .desktopNav div a {
    color: white;
    font-size: 1.2rem;
    margin: 5px 0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin: 0 5px;
    background-color: black;
  }
  .position header aside div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .position header aside div h2 {
    margin: 0 0 0 50px;
  }
  .position aside {
    padding: 30px 50px;
  }
  .position aside div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .position aside div p {
    font-size: 19px;
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid red;
    border-radius: 5px;
  }
  .position aside h3 {
    text-align: center;
    line-height: 2.2rem;
  }
  .position aside#risk div {
    flex-wrap: wrap;
  }
  .position aside#risk div p {
    width: 45%;
  }
  .position aside#risk div p:last-child {
    flex: 4;
  }
  .position aside#causes div {
    flex-wrap: wrap;
  }
  .position aside#causes div p {
    width: 45%;
  }
  .position aside#causes div p:nth-child(4) {
    width: 100%;
    order: 3;
  }
  .position aside#treatment div {
    flex-wrap: wrap;
  }
  .position aside#treatment div p {
    width: 45%;
  }
  .position footer h2 {
    width: 30%;
  }
  .position footer div {
    width: 20%;
  }
  .position footer div img {
    width: 50px;
  }
  .position footer #bouncer img {
    width: 35px;
  }
}
@-webkit-keyframes bounce {
  0% {
    border: 1px solid red;
  }
  10% {
    border: 2px solid red;
  }
  20% {
    border: 3px solid red;
  }
  30% {
    border: 4px solid red;
  }
  40% {
    border: 5px solid red;
  }
  50% {
    border: 6px solid red;
  }
  60% {
    border: 8px solid red;
  }
  70% {
    border: 4px solid red;
  }
  80% {
    border: 3px solid red;
  }
  90% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid red;
  }
}
@keyframes bounce {
  0% {
    border: 1px solid red;
  }
  10% {
    border: 2px solid red;
  }
  20% {
    border: 3px solid red;
  }
  30% {
    border: 4px solid red;
  }
  40% {
    border: 5px solid red;
  }
  50% {
    border: 6px solid red;
  }
  60% {
    border: 8px solid red;
  }
  70% {
    border: 4px solid red;
  }
  80% {
    border: 3px solid red;
  }
  90% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid red;
  }
}/*# sourceMappingURL=App.css.map */